.container.contact_container{
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 12%;
}
.contact_options{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.contact_options{
    /* background-color: var(--color-primary); */
    background: var(--color-primary);
    padding: 1.2rem ;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
    color: white;
}
.contact_option:hover{
    background: transparent;
    border-radius: var(--color-primary-variant);
}

.contact_option-icon{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.contact_option a{
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
    color: cyan;
}
.form{
    display:flex;
    flex-direction: column;
    gap:0.5rem;
    width:100%;
  }
  
  .formfield-container{
    width:100%;
  }
  
  .formfield{
    width:100%;
    height:42px;
    padding: 0 1rem;
    font-size:1rem;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #1f1f1f;
    font-weight:500;
    border:none;
    margin-top:1rem;
  }
  
  .formfield-textarea{
    height:auto;
    padding-top:1rem;
  }
  
  #submit{
    border:none;
    font-size: 1.2rem;
    margin: 1rem 0;
    border: 2px solid var(--color-primary);
  }
  
  #submit:hover{
    scale:0.9;
  }
  .map{
    width: 100%;
    position: relative;
    margin-top: 1rem;
  }
  .map iframe{
    width: 100%;
    border-radius: 1rem;
  }
  

/* -------------------------MEDIA QUERIES (MEDIUM DIVICES)------------------------- */
@media screen and (max-width:1024px){
    .container.contact_container{
        grid-template-columns: 1fr;
        gap: 2rem;
    }

}
/* -------------------------MEDIA QUERIES (SMALL DIVICES)------------------------- */
@media screen and (max-width:720px){
    .container.contact_container{
       width: 100%;
    }
}